$primary: Navy;
$secondary: #84a7a1;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

.no-border {
  border: none;
}

.custom-card {
  border-width: 4;
}

.movie-card {
  cursor: pointer;
}

.movie-card:hover,
.movie-card:focus {
  opacity: 0.7;
}

.card-img-top {
  height: 80%;
  margin: auto;
}
